<!--<section>-->
<!--  <h1>Welcome to NG Task Manager</h1>-->
<!--  <p>Manage your tasks by singing up!</p>-->
<!--  <br>-->
<!--  <h2>How it works!!!</h2>-->
<!--  <p>-->
<!--    You need to sign up first. Then you can create a task with completed on not-completed status. You can edit and delete tasks.-->
<!--    You can manage your account from account setting section.-->
<!--  </p>-->
<!--</section>-->

<header class="header">
  <div class="header__logo-box">
    <img src="../../assets/img/logo-white.png" alt="Logo" class="header__logo">
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Managing</span>
      <span class="heading-primary--sub">task make life easier</span>
    </h1>
  </div>
  <!-- <div class="header__action">
    <a class="btn btn--white btn--animated" routerLink="/login">Login</a>
  </div> -->
</header>
